<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About appointments</title>
</head>
<body>
<h2>How to make an appointments</h2>
<p> If you’re interested visit pets in our shelter, click the ‘Make an appointment’ button and fill in an appointment form.</p>
<img src="/images/appointment.png">
<h3> Our pets are eager to meet you.</h3>
<p>Visits program: from Wednesday to Sunday: 13:00-18:00</p>
<p>If you need any advice or support, we’re just a phone call away (+40736553215).</p>
</body>
</html>