<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head-css :: head-css"/>
    <title>Appointments Page</title>
</head>
<body>
<div th:replace="fragments/header-admin :: navbar"/>
<div class="container-fluid">
    <div class="container">
        <table class="table" method="get" th:action="@{/appointments}" th:object="${appointmentsDto}">

            <!-- table header -->
            <thead>
            <div class="container-sm" style="background-color: #8fc4b7; border-radius: 25px">
                <div class="row gx-5" style="text-align: center"><b> APPOINTMENTS </b></div>
            </div>
            <tr>
                <th scope="col">First name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Pets</th>
                <th scope="col">Date</th>
            </tr>
            </thead>

            <!-- table body -->
            <tbody>
            <tr th:each="appointmentDto : ${appointmentsDto}">


                <td th:text="${appointmentDto.user.firstName}"></td>
                <td th:text="${appointmentDto.user.lastName}"></td>
                <td th:text="${appointmentDto.getPets()}"></td>
                <td th:text="${appointmentDto.date}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:replace="fragments/footer-js :: footer-js"/>
</body>

</html>
