<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <div th:replace="fragments/head-css :: head-css"/>
    <title>Appointment form</title>
</head>
<body>
<div class="d-flex justify-content-center">
    <img src="/images/logo.png" style="width: 110px;height: 110px"><br>
</div>
<br>
<h6 style="text-align:center"><b>Appointment Form:</b></h6>
<br>

<div class="d-flex justify-content-center">
    <form class="px-md-0" method="post" th:action="@{/appointments/add}" th:object="${appointmentDto}">

        <div class="form-outline mb-0">
            <label class="form-label" for="firstName"><b>First name</b></label>
            <input class="form-control" id="firstName" th:field="${loggedUser.firstName}" type="text"/>
        </div>

        <div class="form-outline mb-2">
            <label class="form-label" for="lastName"><b>Last name</b></label>
            <input class="form-control" id="lastName" th:field="${loggedUser.lastName}" type="text"/>
        </div>

        <div class="form-outline mb-2">
            <label class="form-label" for="appointment-date"><b>Date</b></label>
            <input class="form-select" id="appointment-date" th:field="${appointmentDto.date}" type="datetime-local">
            <!--               th:text="${#temporals.format(localDateTime, 'yyyy,mm,dd,hh,mm')}">-->

        </div>

        <!--    check box with multiple choices-->

            <th:block th:each="petName : ${appointmentDto.petsNames}" >
                <input type="checkbox" id="pets-names" name="selectedActive" th:text="${petName}" th:value="${petName}"
                       th:field="${appointmentDto.petsNames}">
                <label for="pets-names" th:field="${appointmentDto.petsNames}" ></label>
                <br/>
            </th:block>


        <div class="d-lg-flex gap-2 col-xl-12 my-xxl-5 form-outline mb-4">

            <button class="btn btn-success" id="save" type="submit" width="30px">Add appointment</button>

            <a th:href="@{/home}">
                <button class="btn btn-secondary" id="cancel" type="button" width="30px">Cancel
                </button>
            </a>

        </div>
    </form>
</div>
</body>
</html>