<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <div th:replace="fragments/head-css :: head-css"/>
    <title>Appointment form</title>
</head>
<body>

<form class="px-md-0" method="post" th:action="@{/appointments/add}" th:object="${appointmentDto}">

    <div class="form-outline mb-0">
        <label class="form-label" for="firstName">First name</label>
        <input class="form-control" id="firstName" th:field="${loggedUser.firstName}" type="text"/>
    </div>

    <div class="form-outline mb-2">
        <label class="form-label" for="lastName">Last name</label>
        <input class="form-control" id="lastName" th:field="${loggedUser.lastName}" type="text"/>
    </div>

    <div class="form-outline mb-2">
        <label class="form-label" for="appointment-date">Data</label>
        <input class="form-select" id="appointment-date" th:field="*{date}" type="datetime-local"/>
        <span class="add-on"><i class="icon-th"></i></span>
    </div>

    <!--    check box with multiple choices-->
    <!--    //TODO cum facem ca userul sa poata bifa doar 2 animale din toata lista?-->
    <th:block th:object="${pets}" th:each="pet : ${pets}">
        <input type="checkbox" name="selectedActive" id="selectedActive" th:value="${pet.name}"/>
        <label th:text="${pet.name}"></label>
        <br/>
    </th:block>

    <div class="d-grid gap-2 col-6 mx-auto">
        <a th:href="@{/home}">
            <button class="btn btn-secondary" id="cancel" type="button" width="30px">Cancel
            </button>
        </a>
        <button class="btn btn-success" id="save" type="submit" width="30px">Add appointment</button>
    </div>
</form>

</body>
</html>