<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head-css :: head-css"/>

    <meta charset="UTF-8">
    <title>About appointments</title>
</head>
<body>
<!--navbar-->
<div th:replace="fragments/header :: navbar"/>
<a th:href="@{/home}">
    <button class="btn btn-secondary" type="button" width="30px" style="text-align: center">Go back
    </button>
</a>
<!-- content-->
<div class="container-fluid" style="background-color: #8fc4b7;">
<div style="text-align: center"><b>How to make an appointment</b></div>
</div>
<img src="/images/appointment.png" height="170px" width="450px" style="margin: 80px">
<div class="appointment" style="margin: 40px"> If you’re interested visit pets in our shelter, click the <a href="/appointments/add" style="color: indianred">‘Make an appointment’</a> button and fill in an appointment form. Our pets are eager to meet you!</div>

<div class="container-fluid" style="background-color: khaki">
    <div class="row" style="text-align: center"><b>Visits program</b></div>
</div>
<p class="appointments" style="margin: 40px">From Wednesday to Sunday: 13:00-18:00</p>

<div class="container-fluid" style="background-color: gray">
    <div class="row" style="text-align: center" ><b> Support</b></div>
</div>
<p class="support" style="margin: 40px">For any advice or support, we’re just a phone call away (+40736553215).</p>

<div th:replace="fragments/footer-js :: footer-js"/>
</body>
</html>