<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head-css :: head-css"/>
    <title>My Appointments</title>
</head>

<body>
<div th:replace="fragments/header :: navbar"/>
<div class="container-fluid">
    <div class="container">
        <table class="table" method="get" th:action="@{/my-appointments}" th:object="${myAppointmentsInfo2}">
            <!-- table header -->
            <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Pets</th>
            </tr>
            </thead>
            <!-- table body -->
            <tbody>
            <tr th:each="myAppointmentInfo2 : ${myAppointmentsInfo2}">
                <td th:text="${myAppointmentInfo2.date.toString()}" ></td>
                <td th:each="pet : ${myAppointmentInfo2.pets}">
                    <p th:text="${pet}"></p>
                </td>

                <!-- actions -->
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:replace="fragments/footer-js :: footer-js"/>
</body>

</html>