<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head-css :: head-css"/>
    <title>My Appointments</title>
</head>

<body>
<div th:replace="fragments/header :: navbar"/>
<a th:href="@{/home}">
    <button class="btn btn-secondary" type="button" width="30px" style="text-align: center">Go back
    </button>
</a>
<div style="text-align: center;color: darkgreen; height: 50px">
<i class="fas fa-calendar-day"></i> <span class="ms-1 d-none d-sm-inline">My appointments</span>
</div>
<div class="container-fluid">
    <div class="container">
        <table class="table" method="get" th:action="@{/my-appointments}" th:object="${myAppointmentsInfo2}">
            <!-- table header -->
            <thead>
            <tr>
                <th scope="col"style="color: darkgreen">Date</th>
                <th scope="col" style="color: darkgreen">Pets</th>
            </tr>
            </thead>
            <!-- table body -->
            <tbody style="empty-cells: show">
            <tr th:each="myAppointmentInfo2 : ${myAppointmentsInfo2}">
                <td th:text="${myAppointmentInfo2.date.toString()}" ></td>
                <td th:each="pet : ${myAppointmentInfo2.pets}">
                    <p th:text="${pet}"></p>
                </td>

                <!-- actions -->
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:replace="fragments/footer-js :: footer-js"/>
</body>

</html>