<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head-css :: head-css"/>
    <title>My Transfers</title>
</head>

<body>
<div th:replace="fragments/header :: navbar"/>
<a th:href="@{/home}">
    <button class="btn btn-secondary" type="button" width="30px" style="text-align: center">Go back
    </button>
</a>
<div style="text-align: center;color: firebrick; height: 50px">
<i class="fas fa-hand-holding-usd"></i> <span class="ms-1 d-none d-sm-inline">My payments</span>
</div>
<div class="container-fluid">
    <div class="container">
        <table class="table" method="get" th:action="@{/my-transfers}"
               th:object="${transfersInfo}">
            <!-- table header -->
            <thead>
            <tr>
                <th scope="col" style="color: firebrick">Date</th>
                <th scope="col" style="color: firebrick">Amount</th>
            </tr>
            </thead>
            <!-- table body -->
            <tbody>
            <tr th:each="transferInfo : ${transfersInfo}">
                <td th:text="${transferInfo.transferDate}"></td>
                <td th:text="${transferInfo.amount}"></td>
                <!-- actions -->
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:replace="fragments/footer-js :: footer-js"/>
</body>

</html>