<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:replace="fragments/head-css :: head-css"/>
    <title>Payment page</title>
</head>
<body>
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="d-flex justify-content-center">
                    <img alt="logo" height="110px" src="/images/logo.png" width="110px" style="padding-bottom:0cm">
                </div>
                <!-- form card cc payment -->
                <div class="card card-outline-secondary">
                    <div class="card-body">
                        <h3 class="text-center" style="padding-top:0cm;">Credit Card Payment</h3>
                        <hr>
                        <div class="alert alert-info p-2 pb-3">
                            <a class="close font-weight-normal initialism" data-dismiss="alert"
                               href="#"><samp></samp></a>
                            Please enter the card details
                            <br>
                        </div>
                        <form autocomplete="off" class="form" method="post" role="form" th:action="@{/transfers/add}"
                              th:object="${transferDto}">
                            <div class="form-group">
                                <label for="cc_name">Card Holder's Name</label>
                                <input type="text" class="form-control" id="cc_name" pattern="\w+ \w+.*"
                                       required="required" th:field="${transferDto.cardholderName}"
                                       title="First and last name">

                            </div>
                            <br>
                            <div class="form-group">
                                <label>Card Number</label>
                                <input type="text" class="form-control" autocomplete="off" maxlength="16"
                                       pattern="\d{16}" required="" th:field="${transferDto.cardNumber}"
                                       title="Credit card number-16 digits">

                            </div>
                            <div class="form-group row">
                                <label class="col-md-12">Card expiration
                                    date</label>
                                <input type="date" th:field="${transferDto.cardExpirationDate}">
                            </div>

                            <div class="col-md-4">
                                <input type="text" class="form-control" autocomplete="off" maxlength="3"
                                       pattern="\d{3}" title="Three digits at back of your card" required=""
                                       placeholder="CVC" th:field="${transferDto.cvc}">
                            </div>

                            <div.
                                    3class="row">
                                <label class="col-md-12">Amount</label>
                            </div.>
                            <div class="form-inline">
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text">RON</span></div>
                                    <input type="text" class="form-control text-right" id="exampleInputAmount"
                                           placeholder="00" th:field="${transferDto.amount}">
                                    <div class="input-group-append"><span class="input-group-text">.00</span></div>
                                </div>
                            </div>
                            <hr>
                            <div class="d-grid gap-2 col-6 mx-auto form-outline mb-2">
                                <!-- cancel button -->
                                <a class="btn btn-outline-secondary" th:href="@{/donations/add}"
                                   type="button">Cancel</a>
                                <!-- submit button -->
                                <button class="btn btn-outline-success" type="submit">Pay using this card</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</div>
</html>