<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <div th:replace="fragments/head-css :: head-css"/>
    <title>Pet update</title>
</head>

<body>
<h2>Update pet</h2>
<form class="row g-3" method="post" th:action="@{/pets/{id}/edit (id = ${petDto.id})}" th:object="${petDto}"
      enctype="multipart/form-data">

    <div>
        <label>Photo: </label>
        <input type="file" name="image" accept="image/png, image/jpeg"/>

    </div>
    <div>
        <!-- pet name -->
        <div class="col-md-4 form-group required">
            <label for="availability" class="form-label">Available</label>
            <input id="availability" type="checkbox" class="custom-control-input" th:checked="${petDto.isAvailable}"
                   th:id="|${petDto.isAvailable}-${!petDto.isAvailable}|"
            />

        </div>
        <div class="col-md-4 form-group required">
            <label for="name" class="form-label">Name</label>
            <input class="form-control" id="name" placeholder="Pet name" required th:field="*{name}" type="text">
        </div>
        <!-- category -->
        <br>
        </select>
        <div class="col-md-4 form-group required">
            <label for="category">Category</label>
            <br>
            <select class="custom-select tm-select-accounts" id="category" value="Select category"
                    th:field="*{category}" required>
                <option value="" disabled>Select category</option>
                <option th:each="category : ${T(com.sda.project.model.Category).values()}"
                        th:value="${category}"
                        th:text="${category}">
                </option>
            </select>
        </div>
        <!-- description -->
        <br>

        <div class="col-md-4 form-group required">
            <label for="name" class="form-label">Description</label>
            <input class="form-control" id="description" placeholder="Pet description" required
                   th:field="*{description}" type="text">
        </div>

    </div>
    <div class="col-12">
        <a th:href="@{/pets}">
            <button class="btn btn-secondary" id="cancel" type="button">Cancel</button>
        </a>
        <button class="btn btn-primary" id="save" type="submit">Update pet</button>
    </div>
</form>

<div th:replace="fragments/footer-js :: footer-js"/>

</body>
</html>