<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head-css :: head-css"/>
    <title>Pet add</title>
</head>

<body>

<div th:replace="fragments/header :: navbar"/>
<h2>Add pet</h2>

<form class="row g-3 needs-validation" method="post" novalidate th:action="@{/pets/add}" th:object="${petDto}">
    <div>
        <div class="col-md-4 form-group required">
            <label for="name" class="form-label">Name</label>
            <input class="form-control" id="name" placeholder="Pet name" required th:field="*{name}" type="text">
            <div class="invalid-feedback">
                A pet name can't be empty.
            </div>
        </div>
        <br>
        <div class="col-md-2 form-group required">
            <label for="category">Category</label>
            <br>
            <select class="custom-select tm-select-accounts" id="category" value="Select category"
                    th:field="*{category}" required>
                <option value="" disabled>Select category</option>
                <option th:each="category : ${T(com.sda.project.model.Category).values()}"
                        th:value="${category}"
                        th:text="${category}">
                </option>
            </select>
        </div>
        <br>
        <div class="col-md-4 form-group required">
            <label for="name" class="form-label">Description</label>
            <input class="form-control" id="description"
                   th:field="*{description}" type="text">
        </div>
    </div>
    <div class="col-12">
        <a th:href="@{/pets}">
            <button class="btn btn-secondary" id="cancel" type="button">Cancel</button>
        </a>
        <button class="btn btn-primary" id="save" type="submit">Add pet</button>
    </div>
</form>

<div th:replace="fragments/footer-js :: footer-js"/>
<script th:src="@{/js/validation.js}"></script>
</body>
</html>