<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head-css :: head-css"/>
    <title>Pet add</title>
</head>

<body>

<h2>Update pet</h2>

<form class="row g-3" method="post" th:action="@{/pets/{id}/edit (id = ${petDto.id})}" th:object="${petDto}">

    <div>

        <!-- pet name -->
        <div class="col-md-4 form-group required">
            <label for="name" class="form-label">Name</label>
            <input class="form-control" id="name" placeholder="Pet name" required th:field="*{name}" type="text">
        </div>

        <!-- category -->
        <div class="col-md-2 form-group required">
            <label for="category" class="form-label">Category</label>
            <input class="form-control" id="category" placeholder="Category" required th:field="*{category}"
                   type="text">
        </div>

        <!-- description -->
        <div class="col-md-4 form-group required">
            <label for="description" class="form-label">Description</label>
            <input class="form-select" id="description" placeholder="Description" required th:field="*{description}">
        </div>

    </div>

    <div class="col-12">
        <a th:href="@{/pets}">
            <button class="btn btn-secondary" id="cancel" type="button">Cancel</button>
        </a>
        <button class="btn btn-primary" id="save" type="submit">Update pet</button>
    </div>

</form>

<div th:replace="fragments/footer-js :: footer-js"/>

</body>
</html>