<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments/head-css :: head-css"/>
    <title>Pets</title>
</head>

<body>
<div th:replace="fragments/header :: navbar"/>
<div class="container-fluid">
    <div class="container">
        <table class="table" method="get" th:action="@{/pets_user.html}" th:object="${petsDto}">
            <!-- table header -->
            <thead>
            <tr>
                <th scope="col">Photo</th>
                <th scope="col">Name</th>
                <th scope="col">Category</th>
                <th scope="col">Description</th>

            </tr>
            </thead>

            <!-- table body -->
            <tbody>
            <tr th:each="petDto : ${petsDto}">
                <td>
                <img width="200px"height="200px" th:src="@{${petDto.photoImagePath}}" />
                </td>
                <td th:text="${petDto.name}"></td>
                <td th:text="${petDto.category}"></td>
                <td th:text="${petDto.description}"></td>

                </tr>

            </tbody>
        </table>
    </div>
</div>

<div th:replace="fragments/footer-js :: footer-js"/>
</body>

</html>
