<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <div th:replace="fragments/head-css :: head-css"/>
    <title>Pets</title>
</head>

<body>

<div class="container-fluid">
    <div class="container">
        <table class="table" method="get" th:action="@{/pets}" th:object="${petsDto}">
            <!-- table header -->
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Category</th>
                <th scope="col">Description</th>
                <th scope="col">Adoption</th>
                <th scope="col"></th>
            </tr>
            </thead>

            <!-- table body -->
            <tbody>
            <tr th:each="petDto : ${petsDto}">
                <td th:text="${petDto.name}"></td>
                <td th:text="${petDto.category}"></td>
                <td th:text="${petDto.description}"></td>
                <td th:text="${petDto.adoption}"></td>
<!--            <-- TODO cum afisez aici e-mailul userului care a facut adoptia? -->
                <!-- actions -->
                <td>
                    <!-- edit button -->
                    <a th:href="@{/pets/{id}/edit (id= ${petDto.id})}">
                        <!-- pencil icon -->
<!--                    <-- TODO cum facem ca butonul de editare sa apara doar pe pagina de admin? -->
                        <i class="fas fa-edit" sec:authorize="hasRole('ADMIN')"></i>
                    </a>
                </td>
                <td>
                    <!-- delete button -->
                    <a th:href="@{/pets/{id}/delete (id= ${petDto.id})}">
                        <!-- trash icon -->
                        <!-- TODO cum facem ca butonul de editare sa apara doar pe pagina de admin?-->
                        <i class="fas fa-trash" sec:authorize="hasRole('ADMIN')"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:replace="fragments/footer-js :: footer-js"/>
</body>

</html>
