<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <div th:replace="fragments/head-css :: head-css"/>
    <title>Pets</title>
</head>

<body>
<div th:replace="fragments/header-admin :: navbar"/>
<div class="container-fluid">
    <div class="container">
        <table class="table" method="get" th:action="@{/pets}" th:object="${petsDto}">

            <!-- table header -->
            <thead>
            <tr>
                <th scope="col">Photo</th>
                <th scope="col">Name</th>
                <th scope="col">Category</th>
                <th scope="col">Description</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
                <th scope="col">Availability</th>
                <th scope="col">Adopted by </th>

            </tr>
            </thead>
            <!-- table body -->
            <tbody>
            <tr th:each="petDto : ${petsDto} ">
                <td>
                    <img style="width: 200px;height: 200px" th:src="@{${petDto.getPhotoImagePath()}}"/>
                </td>
                <td th:text="${petDto.name}"></td>
                <td th:text="${petDto.category}"></td>
                <td th:text="${petDto.description}">
                <td>
                    <!-- edit button -->
                    <a th:href="@{/pets/{id}/edit (id= ${petDto.id})}">
                        <!-- pencil icon -->
                        <i class="fas fa-edit" sec:authorize="hasRole('ADMIN')" style="color: green"></i>
                    </a>
                </td>
                <td>
                    <!-- delete button -->
                    <a th:href="@{/pets/{id}/delete (id= ${petDto.id})}">
                        <!-- trash icon -->
                        <i class="fas fa-trash" sec:authorize="hasRole('ADMIN')" style="color:red;"></i>
                    </a>
                </td>
                <td th:text="${petDto.isAvailable}"></td>

                <td th:if="${petDto.adoption}" >
                    <p th:text="${petDto.adoption.user.email}"></p>
                </td>
                <!-- actions -->

            </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:replace="fragments/footer-js :: footer-js"/>
</body>

</html>
