<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About adoptions</title>
</head>
<body>
<h2>How to adopt a pet</h2>
<p style="text-align: justify">1. Firstly, check out all the lovely pets that are for adoption on our website.
    If you’re interested in one, click the ‘Make an adoption’ button and fill in an application form.</p>
 <img src="/images/183508rehoming-step-one.jpg" alt="rehomng">
<p>2. Our team will review your application and see if your lifestyle matches the needs of the dog.</p>
<img src="/images/183510rehoming-illustration-3-(1).jpg">
<p>3. If we mutually decide you’re a perfect match, we’ll arrange an appointment for you to take them to their forever home.</p>
<img src="images/take%20home.png">
<h3>How much it costs to adopt a pet?</h3>
<p> You don't need money just a big heart and responsability to care him. </p>
<h3> So easy! You can have a friend for life. </h3>
<p>If you need any advice or support, we’re just a phone call away (+40736553215)</p>
</body>
</html>