<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Adoption form</title>
    <div th:replace="fragments/head-css :: head-css"/>
</head>

<body>

<div class="d-flex justify-content-center">
    <img src="/images/logo.png" style="width: 110px;height: 110px"><br>
</div>

<h6 style="text-align:center">Adoption Form</h6>

<div class="d-flex justify-content-center">

    <form class="row g-3" method="post" style="height: 250px;width: 550px" th:action="@{/adoptions/add}"
          th:object="${adoptionDto}">

        <!-- first name -->
        <div class="col-md-6">
            <label class="form-label" for="inputFirstName"><b>First Name</b></label>
            <input class="form-control" id="inputFirstName" type="text" th:field="${loggedUser.firstName}">
        </div>

        <!-- last name -->
        <div class="col-md-6">
            <label class="form-label" for="inputLastName"><b>Last Name</b></label>
            <input class="form-control" id="inputLastName" type="text" th:field="${loggedUser.lastName}">
        </div>

        <!-- email -->
        <div class="col-12">
            <label class="form-label" for="email"><b>E-mail</b></label>
            <input class="form-control" id="email" type="email" th:field="${loggedUser.email}">
        </div>

        <!-- phone number -->
        <div class="col-12">
            <label class="form-label" for="phoneNumber"><b>Phone Number</b></label>
            <input class="form-control" id="phoneNumber" type="text" th:field="${loggedUser.phoneNumber}">
        </div>

        <!-- social security number -->
        <div class="mb-3">
            <label class="form-label" for="address"><b>Address</b></label>
            <input class="form-control" id="address" th:field="${adoptionDto.address}" type="text">
        </div>

        <!-- adoption date -->
        <div>
            <label class="form-label" for="adoptionDate"><b>Date</b></label>
            <input class="form-select" id="adoptionDate" th:field="${adoptionDto.date}" type="date">
            <!--&lt;!&ndash;&ndash;&gt;th:text="${#temporals.format(localDate, 'dd-MM-yyyy')}"-->
        </div>

        <!-- social security number -->
        <div class="mb-3">
            <label class="form-label" for="socialSecurityNumber"><b>Social Security Number</b></label>
            <input class="form-control" id="socialSecurityNumber" th:field="*{socialSecurityNumber}" type="text">
        </div>

        <!-- select pet -->
        <div class=" mb-3">
            <label class="form-label" for="petSelect"><b>Pets</b></label>

            <div>
                <select class="form-control" id="petSelect" required th:field="${adoptionDto.pet}">
                    <th:block>

                        <option th:each="pet : ${pets}"
                                th:text="${pet.name}"
                                th:value="${pet.id}"/>
                    </th:block>
                </select>
            </div>

        </div>

        <div class="col-12">

            <button class="btn btn-success" type="submit">Adopt pet</button>
            <a class="btn btn-secondary" th:href="@{/home}" type="button">Cancel</a>

        </div>
    </form>

</div>

</body>
</html>