<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head-css :: head-css"/>
    <title>Adoption</title>
</head>

<body>

<div class="container-fluid">
    <div class="container">
        <table class="table" method="get" th:action="@{/adoptions}" th:object="${adoptions}">
            <!-- table header -->
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Proof of Address</th>
                    <th scope="col">Proof of Financial Situation</th>
                    <th scope="col">Identity card</th>
                </tr>
            </thead>

            <!-- table body -->
            <tbody>
                <tr th:each="adoption : ${adoptions}">
                    <td th:text="${adoption.date}"></td>
                    <td th:text="${adoption.proofOfAddress}"></td>
                    <td th:text="${adoption.proofOfFinancialSituation}"></td>
                    <td th:text="${adoption.identityCard}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:replace="fragments/footer-js :: footer-js"/>
</body>

</html>
