<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head-css :: head-css"/>
    <title>Pets</title>
</head>

<body>

<!-- nav bar -->
<div th:replace="fragments/header :: navbar"/>
<a th:href="@{/home}">
    <button class="btn btn-secondary" type="button" width="30px" style="text-align: center">Go back
    </button>
</a>
<div style="text-align: center; color: indianred; height: 50px">
    <i class="fas fa-paw"></i> <span class="ms-1 d-none d-sm-inline">My pets</span>
</div>
<div class="container-fluid">
    <div class="container">

        <table class="table" method="get" th:action="@{/my-pets}" th:object="${myPets}">
            <!-- table header -->
            <thead>
            <tr>
                <th scope="col" style="color: indianred">Name</th>
                <th scope="col"style="color: indianred">Category</th>
                <th scope="col" style="color: indianred">Description</th>
            </tr>
            </thead>
            <!-- table body -->
            <tbody>
            <tr th:each="petInfo : ${myPets}">
                <td th:text="${petInfo.name}"></td>
                <td th:text="${petInfo.category.name()}"></td>
                <td th:text="${petInfo.description}"></td>
                <!-- actions -->
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:replace="fragments/footer-js :: footer-js"/>
</body>

</html>