<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>

<!-- navbar -->
<div th:fragment="navbar">

    <nav th:action="@{/home}" class="navbar navbar-expand-lg navbar-light" method="get" style="background-color: snow">
        <div class="container-fluid">

            <a class="navbar-brand" th:href="@{/home}">
                <img height="62px" th:src="@{/images/logo.png}" width="62px">
            </a>

            <div class="collapse navbar-collapse" id="navbarNavDropdown">

                <button aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"
                        class="navbar-toggler"
                        data-bs-target="#navbarNavDropdown" data-bs-toggle="collapse" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <ul class="navbar-nav">
                    <li class="nav-item dropdown">

                        <a aria-expanded="false" class="nav-link"
                           style="color: darkcyan; font-family: Garamond; font-size: 18px"
                           th:href="@{/pets_user}">Pets</a>

                    </li>

                    <li class="nav-item dropdown">

                        <a aria-expanded="false" class="nav-link dropdown-toggle"
                           data-bs-toggle="dropdown"
                           id="navbarDropdownMenuLinkDonations" role="button"
                           style="color: darkcyan; font-family: Garamond; font-size: 18px">Donations</a>

                        <ul aria-labelledby="navbarDropdownMenuLinkDonations" class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" th:href="@{/donations/about}"
                                   style="color: darkcyan; font-family: Garamond">About donations</a>
                            </li>
                            <li>
                                <a class="dropdown-item" th:href="@{/donations/add}"
                                   style="color: darkcyan; font-family: Garamond">Make a donation</a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">

                        <a aria-expanded="false" class="nav-link dropdown-toggle"
                           data-bs-toggle="dropdown"
                           id="navbarDropdownMenuLinkAppointments" role="button"
                           style="color: darkcyan; font-family: Garamond; font-size: 18px">Appointments</a>

                        <ul aria-labelledby="navbarDropdownMenuLinkDonations" class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" th:href="@{/appointments/about}"
                                   style="color: darkcyan; font-family: Garamond">About appointments</a>
                            </li>
                            <li>
                                <a class="dropdown-item" th:href="@{/appointments/add}"
                                   style="color: darkcyan; font-family: Garamond">Make an appointment</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a aria-expanded="false" class="nav-link dropdown-toggle"
                           data-bs-toggle="dropdown"
                           id="navbarDropdownMenuLinkAdoptions" role="button"
                           style="color: darkcyan; font-family: Garamond; font-size: 18px">Adoptions</a>

                        <ul aria-labelledby="navbarDropdownMenuLinkDonations" class="dropdown-menu">
                            <li><a class="dropdown-item" th:href="@{/adoptions/about}"
                                   style="color: darkcyan; font-family: Garamond">About
                                adoptions</a></li>
                            <li><a class="dropdown-item" th:href="@{/adoptions/add}"
                                   style="color: darkcyan; font-family: Garamond">Make an adoption</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/logout"
                           style="color: indianred;font-family: Garamond;font-size: 19px;position: absolute; right: 60px">Log
                            out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</div>

</body>
</html>