<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About donations</title>
</head>
<body>
<h2>How to make a donation</h2>
<p> If you’re interested to donate, the process is very simple: click the ‘Make a donation’ button and fill in donation form.</p>
<img src="/images/donate.png">
<p> You can donate money, food, toys, drugs and other things. ChangeLives address is Filimon Street 81, Bucharest. </p>
<img src="/images/cat_food.png"><img src="/images/dog_food.png">
<img src="/images/drugs.png">
<img src="/images/toys.png">

<p> From drugs category you can donate only parasite prevention drugs and vaccines for the following diseases: canine distemper, canine hepatitis, canine parainfluenza, heartworm, lyme disease and
    parvovirus.</p>
<p>Your help really matters! Thank you!</p>

</body>
</html>