<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Donation form</title>
    <div th:replace="fragments/head-css :: head-css"/>
</head>
<body>
<div class="d-flex justify-content-center">

    <!-- logo -->
    <img style="width: 100px; height: 100px" th:src="@{/images/logo.png} ">
</div>

<div>
    <!-- form header -->
    <h6 style="text-align:center"><b>Donation Form:</b></h6>
</div>

<!-- form -->
<div class="d-flex justify-content-center">
    <form class="form-outline mb-0" method="post" th:action="@{/donations/add}" th:object="${donation}">

        <div class="col-md-1">
            <!-- name -->
            <label class="form-label"><b>Name</b> </label>
            <p th:text="|${loggedUser.firstName} ${loggedUser.lastName}|"></p>

            <!-- phone number -->
            <label class="form-label"><b>Phone</b></label>
            <p th:text="${loggedUser.phoneNumber}"></p>

            <!-- email -->
            <label class="form-label"><b>Email</b></label>
            <p th:text="${loggedUser.email}"></p>
        </div>

        <!-- donation type -->

        <!-- form group -->
        <div class="form-group">

            <!-- label -->
            <label for="donationType" class="form-label"><b>Donation type</b></label>
            <select id="donationType" name="donationType" th:field="*{product}">
                <!-- pre selected value, not a real option -->
                <option selected th:value="null"><b>What do you want to donate?</b></option>

                <!-- options from db -->
                <option th:each="product : ${T(com.sda.project.model.Product).values()}"
                        th:text="|${#strings.capitalize(product)}|"
                        th:value="${product}">
                </option>
            </select>
        </div>

        <div class="alert alert-light" role="alert">
            <b>Address: Filimon Street 81, Bucharest, Romania"</b>
        </div>

        <!-- details -->

        <div class="form-outline">
            <label class="form-label"><b>Details</b></label>
            <input th:field="*{details}" type="text">


            <!-- actions -->
            <div class="d-lg-flex gap-2 col-6 my-xxl-5 form-outline mb-4">
                <button class="btn btn-outline-success" id="donate" name="donate" type="submit">Donate</button>

                <a th:href="@{/home}">
                    <button class="btn btn-outline-secondary" id="cancel" name="cancel" type="button">Cancel</button>
                </a>
            </div>
        </div>
    </form>
</div>

</body>
</html>