<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head-css :: head-css"/>
    <meta charset="UTF-8">
    <title>About donations</title>
</head>
<body>
<!--navbar-->
<div th:replace="fragments/header :: navbar"/>
<!--    content-->
<a th:href="@{/home}">
    <button class="btn btn-secondary" type="button" width="30px" style="text-align: center">Go back
    </button>
</a>
<div class="card text-center">

    <div class="card-body">
        <h5 class="card-title">How to make a donation</h5>
        <img src="/images/donate.png" style="padding-inline: 200px">
        <p class="card-text">If you’re interested to donate, the process is very simple: click the <a
                href="/donations/add" style="color: indianred"> ‘Make a donation’</a> button and fill in donation form
        </p>
    </div>
    <div class="card-footer text-muted">
    </div>
    <div class="card-body">
        <p class="card-text">You can donate money, food, toys, drugs and other things. ChangeLives address is Filimon
            Street 81, Bucharest.</p>
        <img src="/images/cat_food.png" style="padding-inline:20px">
        <img src="/images/dog_food.png" style="padding-inline: 10px">
        <img src="/images/drugs.png">
        <img src="/images/toys.png">
    </div>
    <div class="card-footer text-muted">
    </div>
    <div class="card-body">
        <p class="card-text">From drugs category you can donate only parasite prevention drugs and vaccines for the
            following diseases: canine distemper, canine hepatitis, canine parainfluenza, heartworm, lyme disease and
            parvovirus</p>
    </div>
    <div class="card-footer text-muted">
    </div>
    <div class="card-body">
        <p class="card-text">Your help really matters! Thank you!</p>
    </div>
    <div class="card-footer text-muted">
        &#9829&#9829&#9829
    </div>
</div>

<div th:replace="fragments/footer-js :: footer-js"/>
</body>
</html>