<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head-css :: head-css"/>
    <title>Donation</title>
</head>

<body>
<div th:replace="fragments/header-admin :: navbar"/>

<div class="container-fluid">
    <div class="container">
        <table class="table" method="get" th:action="@{/donations}" th:object="${donations}">
            <!-- table header -->
            <thead>

            <div class="container-sm" style="background-color: #8fc4b7; border-radius: 25px">
                <div class="row gx-5" style="text-align: center"><b> DONATIONS </b></div>
            </div>
            <tr>
                <th scope="col">User E-mail</th>
                <th scope="col">Products</th>
                <th scope="col">Details</th>
            </tr>
            </thead>

            <!-- table body -->
            <tbody>
            <tr th:each="donation : ${donations}">
                <td th:text="${donation.email}"></td>
                    <td th:text="${donation.product}"></td>
                <td th:text="${donation.details}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:replace="fragments/footer-js :: footer-js"/>
</body>

</html>
