<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Donation form</title>
    <div th:replace="fragments/head-css :: head-css"/>
    <script src="./js/main.js"></script>
</head>
<body>
<div class="d-flex justify-content-center">
    <img src="images/logo.png" style="width: 110px;height: 110px"><br><br><br>
</div>
<br>
<p class="para" style="text-align: center">
    <b>You must know!! Important!</b> From drugs category you can donate only parasite prevention drugs and vaccines for
    the following diseases: canine distemper, canine hepatitis, canine parainfluenza, heartworm, lyme disease and
    parvovirus. </p>
<h6 style="text-align: center"><b>Donation Form:</b></h6>
<br>
<br>
<br>
<div class="d-flex justify-content-center">
    <form class="row g-3" th:action="@{/donations/add}" th:object="${donationDto}"
          method="post" style=" height: 250px;width: 550px">

        <div class="col-md-6">
            <label class="form-label" for="inputFirstName">First Name</label>
            <input class="form-control" id="inputFirstName" type="text">
        </div>

        <!--    <div class="col-md-6">-->
        <!--        <label class="form-label" for="inputLastName">Last Name</label>-->
        <!--        <input class="form-control" id="inputLastName" type="text">-->
        <!--    </div>-->
        <!--    <div class="col-md-6" style="margin-top: auto">-->
        <!--        <label class="form-label" for="email">E-mail</label>-->
        <!--        <input class="form-control" id="email" type="text">-->
        <!--    </div>-->
        <!--    <div class="col-md-6" style="margin-top: auto">-->
        <!--        <label class="form-label" for="phone number">Phone number</label>-->
        <!--        <input class="form-control" id="phone number" type="text">-->
        <!--    </div>-->
        <h8><b>What do you want to donate? Choose from the list.</b></h8>

        <select id="whichpage" name="whichpage" onChange="if(this.selectedIndex==5)
        self.location=this.options[this.selectedIndex].value"
                th:field="*{product}">
                        <option value="" default="" selected="">Select a product</option>
<!--                        <option  selected >Please select a product-->
            <option th:each="product : ${T(com.sda.project.model.Product).values()}"
                    th:value="${product}"
                    th:text="${product}">
            <option value="/transfer-add">MONEY


            </option>
        </select>


        <input readonly disabled value="Address: Filimon Street 81, Bucharest, Romania"
               style="border:0;outline:0;width:580px;">

        <div class="form-outline">
            <label class="form-label" th:field="*{details}">Details</label>
            <textarea class="form-control" id="textAreaExample" rows="4"></textarea>
            <br>
            <br>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto form-outline mb-0">
            <button class="btn btn-outline-success" type="submit"><a href="/home"></a>Submit</button>
            <a class="btn btn-outline-secondary" href="/home" type="button">Cancel</a>
        </div>
    </form>
</div>
</body>
</html>