<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head-css :: head-css"/>
    <title>My Donations</title>
</head>

<body>
<div th:replace="fragments/header :: navbar"/>
<a th:href="@{/home}">
    <button class="btn btn-secondary" type="button" width="30px" style="text-align: center">Go back
    </button>
</a>
<div style="text-align: center;color: darkcyan; height: 50px">
<i class="fas fa-hand-holding-heart"></i> <span class="ms-1 d-none d-sm-inline">My donations</span>
</div>
<div class="container-fluid">
    <div class="container">
        <table class="table" method="get" th:action="@{/my-donations}" th:object="${myDonations}">
            <!-- table header -->
            <thead>
            <tr>
                <th scope="col" style="color: darkcyan">Product</th>
                <th scope="col" style="color: darkcyan">Details</th>
            </tr>
            </thead>
            <!-- table body -->
            <tbody>
            <tr th:each="donationInfo : ${myDonations}">
                <td th:text="${donationInfo.product.name()}"></td>
                <td th:text="${donationInfo.details}"></td>
                <!-- actions -->
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:replace="fragments/footer-js :: footer-js"/>
</body>

</html>