<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Adoption form</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</head>
<body>
<img src="images/Untitled.png" style="width: 110px;height: 110px"><br>
<h7 style="text-align: justify"><b>Adoption Form:</b></h7>
<br>
<br>
<form action="/adoption" class="row g-3" method="post" style=" height: 250px;width: 550px">
    <div class="col-md-6">
        <label class="form-label" for="inputFirstName">First Name</label>
        <input class="form-control" id="inputFirstName" type="text">
    </div>
    <div class="col-md-6">
        <label class="form-label" for="inputLastName">Last Name</label>
        <input class="form-control" id="inputLastName" type="text">
    </div>

    <div class="col-12">
        <label class="form-label" for="inputAddress">Address</label>
        <input class="form-control" id="inputAddress" type="text">
    </div>
    <div class="col-12">
        <label class="form-label" for="email">E-mail</label>
        <input class="form-control" id="email" type="email">
    </div>
    <div class="col-12">
        <label class="form-label" for="phoneNumber">Phone Number</label>
        <input class="form-control" id="phoneNumber" type="number">

    </div>
    <div>
        <!--               <input class="span2" size="16" type="text" >-->
        <span class="add-on"><i class="icon-th"></i></span></div>
    <label class="form-label" for="dateOfAdoption">Date</label>
    <input class="form-select" id="dateOfAdoption" type="date">
    </div>

    <div class="col-md-4">
        <label class="form-label" for="inputState">Pet</label>
        <select class="form-select" id="inputState">
            <option selected>Choose...</option>
            <option>...</option>
        </select>
    </div>
    <div class="mb-3">
        <label class="form-label" for="formFile1">Proof of address</label>
        <input class="form-control" id="formFile1" placeholder="No file chosen" type="file">
    </div>
    <div class="mb-3">
        <label class="form-label" for="formFile2">Proof of financial situation</label>
        <input class="form-control" id="formFile2" placeholder="No file chosen" type="file">
    </div>
    <div class="mb-3">
        <label class="form-label" for="formFile3">Identity Card</label>
        <input class="form-control" id="formFile3" placeholder="No file chosen" type="file">
    </div>
    <div class="col-12">
        <button class="btn btn-primary" type="submit">Submit</button>
        <a class="btn btn-secondary" href="/user" type="button">Cancel</a>

    </div>
</form>
</body>
</html>