<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments/head-css :: head-css"/>
    <title>Home</title>
</head>

<body>

<!-- nav bar -->
<div th:replace="fragments/header :: navbar"/>

<!-- content -->
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-lg-0 px-sm-2 px-0 " style="background-color: snow">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">

                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
                    id="menu">

                    <!-- pets -->
                    <li>
                        <a class="nav-link px-0 align-middle" style="color: darkcyan; font-family: Garamond"
                           th:href="@{/my-pets}">
                            <i class="fas fa-paw"></i> <span class="ms-1 d-none d-sm-inline">My pets</span>
                        </a>
                    </li>

                    <!-- donations -->
                    <li>
                        <a class="nav-link px-0 align-middle"style="color: darkcyan; font-family: Garamond"
                           th:href="@{/my-donations}">
                            <i class="fas fa-hand-holding-heart"></i> <span class="ms-1 d-none d-sm-inline">My donations</span>
                        </a>
                    </li>

                    <!-- payments -->
                    <li>
                        <a class="nav-link px-0 align-middle"style="color: darkcyan; font-family: Garamond"
                           th:href="@{/my-transfers}">
                            <i class="fas fa-hand-holding-usd"></i> <span class="ms-1 d-none d-sm-inline">My payments</span>
                        </a>
                    </li>

                    <!-- appointments -->
                    <li>
                        <a class="nav-link px-0 align-middle"style="color: darkcyan; font-family: Garamond"
                           th:href="@{/my-appointments}">
                            <i class="fas fa-calendar-day"></i> <span class="ms-1 d-none d-sm-inline">My appointments</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer-js :: footer-js"/>

</body>
</html>
